/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2013, 12:14:32 AM
    Author     : nrwebb
*/

body{
    background-color:#fefbe2;
    color: #000000;
    position:relative;
}
div.table
{
    display: inline-table;
}
/* For Login Page */
#loginBox
{
    text-align: center;
    display: block;
    margin: auto;
}
#login
{
    text-align: center;
    display: inline-block;
    border: 2px #000000 inset;
    border-radius: 20px;
    min-height: 100px;
    padding: 15px;
    max-width: 800px;
}
.row
{
    display: table-row;
}
.row > *
{
    display: table-cell;
    vertical-align:central;
}
.row > label
{
    text-align: right;
}
.row > input
{
    text-align: left;
}

input#PercentComplete
{
    width: auto;
}
#login #submit
{
    display: inline-block;
    padding: auto;
    margin: 5px;
}
#menu
{
    text-align: center;
    margin:auto;
}

#menu input[type="submit"]
{
    width: 200px;
    height: 50px;
}
#loginStatus
{
    height: 10pt;
    width: auto;
    text-align: right;
}
a, a:active, a:visited
{
    color: rgb(55,55,250);
}

div#title
{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 25pt;
    font-weight: 700;
}

form.dataForm
{
    text-align:center;
}
form.dataForm > div.table
{
    margin: auto;
    display: block;
    border-top: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
}

form.dataForm label
{
    padding: 5px;
    padding-right: 5px;
    border-bottom: 2px #000000 solid;
    border-right: 2px #000000 solid;
    text-align: right;
}

form.dataForm .row > :not(label)
{
    text-align: left;
    display: block;
    vertical-align: central;
    margin-left: 9px;
}


form.dataForm input[type='submit']
{
    display:inline-block;
}

/* CSS for the search boxes in View Requests */
input.columnSearch
{
    display:block;
    width:100%;
    max-width: 100%;
    box-sizing: border-box;
}
textarea
{
    resize: none;
}
table#viewRequests
{
    border-collapse: collapse;
    table-layout:fixed;
}
table#viewRequests th > *:not(input)
{
    display: inline-block;
}
table#viewRequests td
{
    border: 2px black solid;
    padding: 5px;
    width: auto;
    height: auto;
}

thead
{
    border: 2px black solid;
    text-align: center;
    color: #000000;
}
thead th
{
    border: 2px black solid;
    padding: 5px;
    box-sizing: content-box;
}

.floatleft
{
    float: left;
}

.floatright
{
    float: right;
}

.alignright
{
    text-align: right;
}

.alignleft
{
    text-align: left;
}

.inlineblock
{
    display: inline-block;
}

.bold
{
    font-weight: 800;
}

/* Custom Jquery UI Design */

div#sliderArea
{
    display: block;
}

div#sliderArea > *
{
    display: inline-block;
    margin-right: 9px;
    vertical-align: middle;
}
.ui-slider
{
    width: 200px;
    border-radius: 10px !important;
    border-width: 2px !important;
}

a.ui-slider-handle
{
    border-radius: 10px;
    border-width: 2px !important;
}
.ui-slider .ui-slider-range-min
{
    background: #ddfebd; //make sure to overwrite all other backgrounds for this
}