/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2013, 12:14:32 AM
    Author     : nrwebb
*/

body{
    background-color:snow;
    color: #000000;
    position:relative;
    margin: 0px;
}
div.table
{
    display: inline-table;
}

/* Header Menu */
#navigationMenu
{
    font-family: Helvetica;
    color: #d1d1d1;
    display: table;
    margin-bottom: 5px;
    width: 100%;
    min-height: 35px;
    max-height: 35px;
    background: #0095bf; /* Old browsers */
    background: -moz-linear-gradient(top, #0095bf 0%, #005d7a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0095bf), color-stop(100%,#005d7a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0095bf 0%,#005d7a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0095bf 0%,#005d7a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0095bf 0%,#005d7a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0095bf 0%,#005d7a 100%); /* W3C */
}

#navigationMenu > *
{
    display: table-cell;
    font-size: 0; /* To remove whitespace between inlinel elements */
}

#navigationMenu > #navigationTitle
{
    text-align: center;
    height: 100%;
    vertical-align: middle;
}
#navigationMenu > #navigationLocations
{
    text-align: left;
    height: 100%;
    vertical-align: middle;
}

#navigationMenu .option, #login #submit
{
    display: inline-block;
    padding: 5px 10px 5px;
    font-size: 12pt;
    background: none;
    height: 100%;
    border: none;
    color: inherit;
    margin: 0px;
}

#navigationMenu .option.button:hover, #login #submit:hover
{
    cursor: pointer;
    background: #0095bf; /* Old browsers */
    background: -moz-linear-gradient(top, #0095bf 0%, #005d7a 50%, #005d7a 50%, #0095bf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0095bf), color-stop(50%,#005d7a), color-stop(50%,#005d7a), color-stop(100%,#0095bf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0095bf 0%,#005d7a 50%,#005d7a 50%,#0095bf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0095bf 0%,#005d7a 50%,#005d7a 50%,#0095bf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0095bf 0%,#005d7a 50%,#005d7a 50%,#0095bf 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0095bf 0%,#005d7a 50%,#005d7a 50%,#0095bf 100%); /* W3C */

}
#navigationLocations .option:not(:last-child)
{
    border-right: 2px #000 solid;
}

#navigationMenu > #navigationSettings
{
    text-align: right;
}

#navigationSettings .option:not(:last-child)
{
    border-right: 2px #000 solid;
}

/* For Login Page */
#login
{
    text-align: center;
    display: inline-block;
}
.row
{
    display: table-row;
}
#login .row
{
    display: inline-block;
}
.row > *
{
    display: table-cell;
    vertical-align: central;
}
#login .row > *
{
    display: inline-block;
}
.row > *:first-child
{
    text-align: right;
}
.row > *:last-child
{
    text-align: left;
}
#login .row > *:last-child
{
    width: 80px;
}

input#PercentComplete
{
    width: auto;
}

#menu
{
    text-align: center;
    margin:auto;
}

#menu input[type="submit"]
{
    width: 200px;
    height: 50px;
}
#loginStatus
{
    height: 10pt;
    width: auto;
    text-align: right;
}
a, a:active, a:visited
{
    color: rgb(55,55,250);
}

div#title
{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 25pt;
    font-weight: 700;
}

form.dataForm, div#viewRequest
{
    text-align:center;
}
form.dataForm > div.table, div#viewRequest
{
    margin: auto;
    display: block;
    border-top: 2px #000000 solid;
    border-bottom: 2px #000000 solid;
}

form.dataForm .row > *:first-child, div#viewRequest .row > *:first-child
{
    padding: 5px;
    padding-right: 5px;
    border-bottom: 2px #000000 solid;
    border-right: 2px #000000 solid;
    text-align: right;
}

form.dataForm .row > *:last-child, div#viewRequest .row > *:last-child
{
    text-align: left;
    display: block;
    vertical-align: central;
    margin: 0px;
    margin-left: 9px;
}


form.dataForm input[type='submit']
{
    display:inline-block;
}

/* CSS for the search boxes in View Requests */
input.columnSearch
{
    display:block;
    width:100%;
    max-width: 100%;
    box-sizing: border-box;
    vertical-align: bottom;
}
textarea
{
    resize: none;
}
table#viewRequests
{
    border-collapse: collapse;
    border: 2px #dae3fd solid;
}
table#viewRequests th > *:not(input)
{
    display: inline-block;
}
table#viewRequests td
{
    padding: 2px;
    width: auto;
}
table#viewRequests tr:nth-child(even)
{
    background-color: #dae3fd;
}
table#viewRequests tbody tr:hover
{
    background-color:#785eec;
    cursor: pointer;
    height: auto;
}

table#viewRequests tbody tr input:hover
{
    cursor: pointer;
}
table#viewRequests tr td:last-child
{
    text-align: center;
}

thead
{
    text-align: center;
    color: #000000;
    background-color: #a4beff;
}
thead th
{
    border: 2px #dae3fd solid;
    padding: 5px;
    vertical-align: bottom;
    white-space: nowrap;
}
thead th#Edit
{
    vertical-align:top;
}

.floatleft
{
    float: left;
}

.floatright
{
    float: right;
}

.alignright
{
    text-align: right;
}

.alignleft
{
    text-align: left;
}

.inlineblock
{
    display: inline-block;
}

.bold
{
    font-weight: 800;
}

/* The header types */
h1
{
    
}

h4
{
    
}
/* Custom Jquery UI Design */

div#sliderArea
{
    display: block;
}

div#sliderArea > *
{
    display: inline-block;
    margin-right: 9px;
    vertical-align: middle;
}
.ui-slider
{
    width: 200px;
    border-radius: 10px !important;
    border-width: 2px !important;
}

a.ui-slider-handle
{
    border-radius: 10px;
    border-width: 2px !important;
}
.ui-slider .ui-slider-range-min
{
    background: #ddfebd; //make sure to overwrite all other backgrounds for this
}